---
export const prerender = true;
---
<div class="separator-line"></div>

<style>
    .separator-line {
        width: 100%;
        height: 2px;
        background: #f4a261;
        margin: 0;
        padding: 0;
        border: none;
    }
</style>