---
export const prerender = false;
---

<!DOCTYPE html>
<html>
<head>
  <title>Redirect</title>
</head>
<body>
  <script>
    setTimeout(() => {
      window.location.href = 'http://localhost:3001';
    }, 100);
  </script>
</body>
</html>